<div class="container">
  <div class="banner">
    <h1>Liste de tous les groupe du tournois <%=@tournament.name%></h1>
  </div>

  <%= link_to tournament_draws_path(@tournament) do %> 
    <div class="btn btn-primary">Statistiques du tournois</div>
  <% end %>

  <ul><%@groups.each do |group|  %>
    <li>
    <%=link_to "Group #{group.name}", tournament_group_path(@tournament, group)   %>
        <ul>
          <li> <%="Team 1: #{group.team1.name}" %>
          </li>
          <li> <%="Team 2: #{group.team2.name}" %>
          </li>
        </ul>
    </li>
  <%end%>
  </ul>
</div>
