<div class="container">
  <div class="banner">
    <h1>Liste des tirages possibles pour la phase finale de la ligue des champions <%= @tournament.name %></h1>
  </div>
  <%= link_to tournament_draws_path(tournament_id: @tournament, create_draws: :true) do %> 
    <div class="btn btn-primary">Générer statistiques du tournois</div>
  <% end %>
    <%= link_to tournament_draws_path(tournament_id: @tournament, create_draws: :false) do %> 
    <div class="btn btn-primary">Mettre la page à jour</div>
  <% end %>

  <% @draws.each do |draw, matches| %>
    <div class="draw" style="display: flex; flex-direction: row">
      <h2 class="drawName" style="padding:30px"><%= draw.id %></h2>
      <%matches.each do |match|  %>
        <div class="matches">
          <h2 class="macthName" style="text-align:center"><%= match.name %></h2>
          <ul>
            <li>
            <%=match.team1.name%>
            <%# <%=match.team1.country%>
            </li>
            <li>
            <%=match.team2.name%>
            <%# <%=match.team2.country%>
            </li>
          </ul>
        </div>
      <%end%>
    </div>
  <% end %>
</div>

